/* Загальний стиль для заголовка секції */
.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

/* Стиль для проектів */
.projects {
    margin-top: 40px;
}

.project-item {
    margin-bottom: 30px;
    text-align: center;
}

.project-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
}

.project-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Стиль для зображень */
.project-item img {
    width: 360px;
    height: auto;
    margin-bottom: 15px;
}
