body {
    font-family: 'Roboto', sans-serif; 
    color: #434455; 
    background-color: #FFFFFF; 
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

nav a, footer a {
    font-family: 'Raleway', sans-serif;
}
nav a {
    text-decoration: none;
    color: #434455;
    font-weight: bold;
}

footer a {
    color: #434455;
    text-decoration: none;
}
