/* Загальні стилі для секцій */
.hero {
    background-color: #2e2f42;
    padding: 60px 20px;
    text-align: center;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.order-service-btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.order-service-btn:hover, .order-service-btn:focus {
    background-color: #404BBF;
}

.features, .projects, .team {
    padding: 40px 20px;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
}

.project-item {
    text-align: center;
    margin-bottom: 30px;
}

.project-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
}

.project-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Стилі для зображень */
.project-item img {
    width: 360px;
    height: auto;
    margin-bottom: 15px;
}
